  <section class="title">
      <h1 class="title__h1">Crea tu tarjeta de visita</h1>
      <p class="title__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
  </section>
  
  <section class="options">
    <ul class="options__list">
      <li class="options__list--item"><i class="icon fa-regular fa-object-ungroup"></i> Diseña</li>
      <li class="options__list--item"><i class="icon fa-regular fa-keyboard"></i> Rellena</li>
      <li class="options__list--item"><i class="icon fa-solid fa-share-nodes"></i> Comparte</li>
    </ul>
  </section>
  
  <section class="start">
    <a class="start__link" href="profile-cards.html">Comenzar</a>
  </section>
</section>