<section class="main__title">
    <h1 class="title__h1">Crea tu tarjeta de visita</h1>
    <p class="title__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
</section>

<section class="main__options">
  <ul class="options__list">
    <li class="list__item"><i class="fa-regular fa-object-ungroup"></i> Diseña</li>
    <li class="list__item"><i class="fa-regular fa-keyboard"></i> Rellena</li>
    <li class="list__item"><i class="fa-solid fa-share-nodes"></i> Comparte</li>
  </ul>
</section>

<section class="main__start">
  <a class="start__link" href="profile-cards.html">Comenzar</a>
</section>