  <section class="main__title">
      <h1 class="main__title-h1">Crea tu tarjeta de visita</h1>
      <p class="main__title-text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
  </section>
  
  <section class="main__options">
    <ul class="main__options-list">
      <li class="main__options-list--item"><i class="icon fa-regular fa-object-ungroup"></i> Diseña</li>
      <li class="main__options-list--item"><i class="icon fa-regular fa-keyboard"></i> Rellena</li>
      <li class="main__options-list--item"><i class="icon fa-solid fa-share-nodes"></i> Comparte</li>
    </ul>
  </section>
  
  <section class="main__start">
    <a class="main__start-link" href="profile-cards.html">Comenzar</a>
  </section>
</section>