<fieldset class="share">
    <section class="share__wrap1 js-share-clicker">
        <legend class="share__wrap1--legend">
            <i class="legend__icon fa-solid fa-share-nodes"></i>Comparte
        </legend>
        <img class="js-arrow-share legend__scroll arrow-down" src="./assets/images/espada-3.png"
            alt="Icono desplegable">
    </section>
    <div class="js-share-wrap-all collapsed">
        <section class="js-share__wrap2 share__wrap2">
            <button class="js-create__btn share__wrap2--button" id="created-card" type="submit"><i
                    class="share__card fa-regular fa-address-card"></i>
                Crear tarjeta
            </button>
            <p class="js-errormessage share__wrap2--errormessage"></p>
        </section>
        <div class="line"></div>

        <section class="js-share__wrap3 share__wrap3 collapsed">
            <h3 class="share__wrap3--h3">La tarjeta ha sido creada:</h3>
            <a class="share__wrap3--link js-new_cardlink" href="#" target="_blank"></a>
            <a class="share__wrap3--twitter twitter-share-button js-twitter-share-button"
                href="https://twitter.com/intent/tweet?text=¡Mirad%20mi%20nueva%20tarjeta!%20&hashtags=CodingTime,Adalab,PromoRadia&url="
                data-size="large" target="_blank"><i class="fa-brands fa-twitter share__wrap3--twitter--icon"></i>
                Compartir en twitter</a>

            <div class="line"></div>
        </section>
    </div>

</fieldset>