    <fieldset class="fill">

        <section class="fill__wrap1">
            <legend class="fill__wrap1--legend">
                <i class="legend__icon fa-regular fa-keyboard"></i>
                Rellena
            </legend>
            <img class="legend__scroll arrow-down" src="./assets/images/ico-scroll-down.svg" alt="Icono desplegable">
        </section>
        
        <section class="fill__wrap2">

            <label for="name" class="fill__label">Nombre completo</label>
            <input class="fill__input" id="name" type="text" name="name" required placeholder="Ej: Sally Jill">

            <label for="job" class="fill__label">Puesto</label>
            <input class="fill__input" id="job" type="text" name="job" required placeholder="Ej: Front-end unicorn">
            
            <label for="photo" class="fill__label">Imagen de perfil</label>
            <div class="fill__container">
                <button type="submit" class="fill__button" id="photo">Añadir imagen</button>
                <div class="fill__square"></div>
            </div>

            <label for="email" class="fill__label">Email</label>
            <input class="fill__input" id="email" type="email" name="email" required placeholder="Ej: sally-hill@gmail.com">

            <label for="phone" class="fill__label">Teléfono</label>
            <input class="fill__input" id="phone" type="tel" name="phone" required placeholder="Ej: 555-55-55-55">

            <label for="linkedin" class="fill__label">Linkedin</label>
            <input class="fill__input" id="linkedin" type="text" name="linkedin" required placeholder="Ej: linkedin.com/in/sally.hill">

            <label for="github" class="fill__label">Github</label>
            <input class="fill__input" id="github" type="text" name="github" required required placeholder="Ej: @sally-hill">

        </section>
    </fieldset>

       