<fieldset class="design">
  <section class="design__wrap1 js-design-clicker">
    <legend class="design__wrap1--legend">
      <i class="legend__icon fa-regular fa-object-ungroup"></i>
      Diseña
    </legend>
    <img class="js-arrow-design legend__scroll arrow-up" src="./assets/images/espada-3.png" alt="Icono desplegable" />
  </section>
  <section class="js-design__wrap2 design__wrap2">
    <h3 class="color">Colores</h3>
    <section class="palettes">
      <div class="palettes__1">
        <input class="palettes__1--radio" id="palette1" type="radio" name="palette" value="1" required checked />
        <div class="palettes__1--color dark-green"></div>
        <div class="palettes__1--color dirty-blue"></div>
        <div class="palettes__1--color hospital-green"></div>
      </div>

      <div class="palettes__2">
        <input class="palettes__2--radio" id="palette2" type="radio" name="palette" value="2" required />
        <div class="palettes__2--color dried-blood"></div>
        <div class="palettes__2--color rusty-red"></div>
        <div class="palettes__2--color tomato"></div>
      </div>

      <div class="palettes__3">
        <input class="palettes__3--radio" id="palette3" type="radio" name="palette" value="3" required />
        <div class="palettes__3--color slate"></div>
        <div class="palettes__3--color faded-orange"></div>
        <div class="palettes__3--color light-grey-blue"></div>
      </div>
    </section>
  </section>
  <div class="line"></div>
</fieldset>