<fieldset>
    <legend>Diseña</legend>
    <label for="colors">Colores</label>
    <div>
        <input id="colors" type="radio" name="palette" value="palette1" required>
        <div class="dark-green"></div>
        <div class="dirty-blue"></div>
        <div class="hospital-green"></div>
    </div>

    <!-- AQUÍ LO QUE HE AÑADIDO 

    <div>
        <input id="colors" type="radio" name="palette" value="palette2" required>
        <div class="dried-blood"></div>
        <div class="rusty-red"></div>
        <div class="tomato"></div>
    </div>

    <div>
        <input id="colors" type="radio" name="palette" value="palette3" required>
        <div class="slate"></div>
        <div class="faded-orange"></div>
        <div class="light-grey-blue"></div>
    </div>

    -->
   
</fieldset>
