<section class="card">
    <!-- CLASES AÑADIDAS SIN REVISAR A PARTIR DE AQUÍ -->
    <button type="reset" class="card__button"><i class="fa-sharp fa-solid fa-trash-can"></i>Reset</button>
    <article class="card__article">
        <div class="profile">
            <h1 class="profile__name">Nombre apellido</h1>
            <p class="profile__text">Front-end developer</p>
        </div>
       <div class="image"></div>
        <nav class="nav">
            <ul class="nav__ul">
                <li><a href="" class="nav__li"><i class="fa-solid fa-mobile-screen-button"></i></a></li>
                <li><a href="" class="nav__li"><i class="fa-regular fa-envelope"></i></a></li>
                <li><a href="" class="nav__li"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><a href="" class="nav__li"><i class="fa-brands fa-github-alt"></i></a></li>
            </ul>
        </nav>
    </article>
</section>