<section class="main__card">
    <!-- CLASES AÑADIDAS SIN REVISAR A PARTIR DE AQUÍ -->
    <button type="reset" class="card__button"><i class="fa-sharp fa-solid fa-trash-can"></i>Reset</button>
    <article class="card__article">
        <div class="article__profile">
            <h1 class="profile__name">Nombre apellido</h1>
            <p class="profile__text">Front-end developer</p>
        </div>
       <div class="article__image"></div>
        <nav class="article__nav">
            <ul class="nav__list">
                <li><i class="fa-solid fa-mobile-screen-button"></i></li>
                <li><i class="fa-regular fa-envelope"></i></li>
                <li><i class="fa-brands fa-linkedin-in"></i></li>
                <li><i class="fa-brands fa-github-alt"></i></li>
            </ul>
        </nav>
    </article>
</section>