        <fieldset>
            <legend><i class="design-icon fa-regular fa-keyboard"></i> Rellena <img class="ico-scroll" src="./assets/images/ico-scroll-down.svg" alt="Icono desplegable"></legend>
            <label for="name">Nombre completo</label>
            <input id="name" type="text" name="name" required placeholder="Ej: Sally Jill">

            <label for="job">Puesto</label>
            <input id="job" type="text" name="job" required placeholder="Ej: Front-end unicorn">

            <label for="photo">Imagen de perfil</label>
            <input id="photo" type="file" name="photo" required>

            <label for="email">Email</label>
            <input id="email" type="email" name="email" required placeholder="Ej: sally-hill@gmail.com">

            <label for="phone">Teléfono</label>
            <input id="phone" type="tel" name="phone" required placeholder="Ej: 555-55-55-55">

            <label for="linkedin">Linkedin</label>
            <input id="linkedin" type="text" name="linkedin" required
                placeholder="Ej: linkedin.com/in/sally.hill">

            <label for="github">Github</label>
            <input id="github" type="text" name="github" required required placeholder="Ej: @sally-hill">
        </fieldset>

       