    <fieldset class="share">
        <section class="share__wrap1">
            <legend class="share__wrap1--legend">
                <i class="legend__icon fa-solid fa-share-nodes"></i>Comparte 
            </legend>
            <img  class="js-arrow-share legend__scroll arrow-down" src="./assets/images/ico-scroll-down.svg" alt="Icono desplegable">
        </section>
        
        <section class="js-share__wrap2 share__wrap2">
            <button class="js-create__btn share__wrap2--button" id="created-card" type="submit"><i class="share__card fa-regular fa-address-card"></i>
                Crear tarjeta
            </button>
        </section>

        <section class="js-share__wrap3 share__wrap3 collapsed">
            <h3 class="share__wrap3--h3">La tarjeta ha sido creada:</h3>
            <a class="share__wrap3--link" href="#">https://awesome-profile-card.com?id=A456DF0001</a>
<!--       <a class="share__wrap3--twitter twitter-share-button" href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-show-count="false">
                Compartir en twitter
            </a>
            <div class="share__wrap3--hr">
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div> -->
        </section>
        
    </fieldset> 

