<section class="js-card card">
  <div class="card__wrap">
    <button type="reset" class="js-card__button card__button">
      <span class="card__button__reset__icon"
        ><i class="fa-sharp fa-solid fa-trash-can"></i
      ></span>
      Reset
    </button>
    <article class="js-card__article card__article palette-1">
      <div class="js-profile profile">
        <h1 class="js-profile__name profile__name">Nombre apellido</h1>
        <p class="js-profile__text profile__text">Front-end developer</p>
      </div>
      <div class="js__profile-image js-image image"></div>
      <nav class="js-nav nav">
        <ul class="js-nav__ul nav__ul">
          <li class="js-nav__li1 nav__li">
            <a href="" target="_blank" class="js-nav__mobile nav__icon"
              ><i class="fa-solid fa-mobile-screen-button"></i
            ></a>
          </li>
          <li class="js-nav__li2 nav__li">
            <a href="" target="_blank" class="js-nav__mail nav__icon"
              ><i class="fa-regular fa-envelope"></i
            ></a>
          </li>
          <li class="js-nav__li3 nav__li">
            <a href="" target="_blank" class="js-nav__linkedin nav__icon"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </li>
          <li class="js-nav__li4 nav__li">
            <a href="" target="_blank" class="js-nav__github nav__icon"
              ><i class="fa-brands fa-github-alt"></i
            ></a>
          </li>
        </ul>
      </nav>
    </article>
  </div>
</section>
