<fieldset class="design">
    <legend class="design__legend">
        <i class="design__legend--icon fa-regular fa-object-ungroup"></i>
         Diseña 
         <img class="design__legend--scroll arrow-up" src="./assets/images/ico-scroll-down.svg" alt="Icono desplegable">
    </legend>
        <section class="design__wrap collapsed">
            <h3 class="color">Colores</h3>
            <section class="palettes">
                <div class="palettes__1">
                    <input class="palettes__1--radio" id="palette1" type="radio" name="palette" value="palette1" required>
                    <div class="palettes__1--color dark-green"></div>
                    <div class="palettes__1--color dirty-blue"></div>
                    <div class="palettes__1--color hospital-green"></div>
                </div>
            
                <div class="palettes__2">
                    <input class="palettes__2--radio" id="palette2" type="radio" name="palette" value="palette2" required>
                    <div class="palettes__2--color dried-blood"></div>
                    <div class="palettes__2--color rusty-red"></div>
                    <div class="palettes__2--color tomato"></div>
                </div>
            
                <div class="palettes__3">
                    <input class="palettes__3--radio" id="palette3" type="radio" name="palette" value="palette3" required>
                    <div class="palettes__3--color slate"></div>
                    <div class="palettes__3--color faded-orange"></div>
                    <div class="palettes__3--color light-grey-blue"></div>
                </div>
            </section>
        </section>

</fieldset>