.body__index {
  height: 100vh;
  display: grid;
  align-content: end;
  grid-template-rows: 1fr auto;
  background-color: $color-white-four;

  &__wrap {
    width: 100%;
    align-self: center;
  }
}
