.main{
  
  @media all and (min-width: 768px) {
    background-image: linear-gradient(to bottom, $color-white-four, $color-white 9%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  @media all and (min-width: 1024px) {
    justify-content: flex-end;
  }

  &__form{
    @media all and (min-width: 768px) {
      width: 399px;
    }
  }

}

.legend{
    &__icon{
        font-size: rem(18);
        color: $color-dull-orange;
        padding-right: 10px;
      }
}

.line {
  border-bottom: solid 1px $color-white-two;
  padding-top: 10px;
  }

.arrow-up{
    transform: rotate(180deg);
  }
  
.arrow-down{
    transform: none;
  }


//esto cierra y abre las pestañas

.collapsed {
  display: none;
} 

   