.headerlanding {
  background-color: $color-white-four;

  &__img {
    //margin-top: 95px;
    padding-bottom: 35.4px;
    width: 250px;

    //height: 63px;
    @media all and (min-width: 768px) {
      padding-bottom: 31px;
      width: 419px;
      //height: 105px;
    }
  }
}

.headerprofilecards {
  background-color: transparent;
  min-height: 111px;
  display: flex;
  justify-content: flex-start;
  // background-image: linear-gradient(to right, rgba(255, 190, 162, 0.1), rgba(255, 126, 137, 0.1));
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center center;

  &__img {
    margin: 31px 0px 30px 40px;
    width: 201px;
    //height: 50px;
  }
}