.main__index{
    background-color: $color-white-four;
    //height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 35.4px;
    padding-bottom: 30px;
}

//TITULOS

.main__title {
    text-align: center;
    padding-bottom: 17.8px;

    &-h1 {
        font-size: 19.2px;
        font-family: $font-family-merriweather; 
        color: $color-dull-orange;
    }
    &-text {
        font-size: 12.8px;
        font-weight: 600;
        font-family: $font-family-opensans; 
        color: $color-dark-green;
        width: 35ch;
    }
}

//TITULOS
//OPCIONES

.main__options{
    
    padding: 15px 20px 10px 20px;
    border: solid 1.6px  rgba(225, 115, 52, 0.21);
    border-radius: 4px;

    &-list{
        display: flex;
        gap: 24px;

        &--item {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 12.8px;
            font-family: $font-family-opensans; 
            color: $color-gunmetal;
        }
    } 
}

.fa-object-ungroup {
    font-size: 22.4px;
    color: $color-dull-orange;
}
.fa-keyboard {
    font-size: 22.4px;
    color: $color-dull-orange;
}
.fa-share-nodes {
    font-size: 22.4px;
    color: $color-dull-orange;
}

//OPCIONES
//BOTÓN

.main__start {
    padding-top: 38.6px;
   
    &-link {
        font-size: 16px;
        font-family: $font-family-opensans; 
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        color: $color-white;
        background-color: $color-dirty-blue;
        border-radius: 21px;
        padding: 10px 20px 10px 20px;
    }
}

