//CAMBIAR A SU PARTIAL CORRESPODIENTE (son los colores de los cuadraditos de los radio inputs.
.dark-green {
    background-color: $color-dark-green;
    width: 30px;
    height: 25px;
  }
  
  .dirty-blue {
    background-color: $color-dirty-blue;
    width: 30px;
    height: 25px;
  }
  
  .hospital-green {
    background-color: $color-hospital-green;
    width: 30px;
    height: 25px;
  }
  //END colores radio inputs