/*PALETAS*/
.palette-1 {
  .profile {
    background-color: $color-dirty-blue;
    &__name {
      color: $color-dark-green;
    }
  }
  .nav {
    &__li {
      border: solid 2px $color-hospital-green;
    }
    &__icon {
      color: $color-dark-green;
    }
  }
}

.palette-2 {
  .profile {
    background-color: $color-rusty-red;
    &__name {
      color: $color-dried-blood;
    }
  }
  .nav {
    &__li {
      border: solid 2px $color-tomato;
    }
    &__icon {
      color: $color-dried-blood;
    }
  }
}

.palette-3 {
  .profile {
    background-color: $color-faded-orange;
    &__name {
      color: $color-slate;
    }
  }
  .nav {
    &__li {
      border: solid 2px $color-light-grey-blue;
    }
    &__icon {
      color: $color-slate;
    }
  }
}

/*PALETAS*/

.card {
  min-height: 457px;
  background-color: $color-silver;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrap {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__button {
    height: 30px;
    margin-bottom: 26px;
    padding: 4px 12px 6px 10px;
    border-radius: 15px;
    border: solid 1px $color-white;
    color: $color-gunmetal;
    background-color: $color-silver;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
    &__reset__icon {
      padding-right: 5px;
    }
  }
  &__article {
    width: 240px;
    background-color: $color-white;
    padding: 21px 0 12px;
    border-radius: 2px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  }
}

.profile {
  width: 5px;
  min-height: 42px;
  margin: 2px 15px 10px 0;

  &__name {
    font-size: 18px;
    width: 206px;
    min-height: 20px;
    margin: 0 14px 4px 15px;
    font-family: $font-family-montserrat;
    font-weight: bold;
    text-transform: capitalize;
    word-wrap: break-word;
  }
  &__text {
    font-size: 16px;
    color: $color-gunmetal;
    width: 168px;
    min-height: 20px;
    margin: 4px 52px 10px 15px;
    font-family: $font-family-montserrat;
    line-height: 1.25;
    text-transform: capitalize;
    word-wrap: break-word;
  }
}

.image {
  width: 240px;
  height: 200px;
  margin: 10px 0;
  background-image: url(../images/profile-image.jpg);
  background-size: cover;
}

.nav {
  margin-left: 20px;

  &__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  &__li {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    font-size: 16px;
  }
}

@media all and (min-width: 768px) {
  .card {
    border-radius: 6px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 812px;
    // justify-self: stretch;
    // align-content: stretch;
    align-self: auto;
    flex-grow: 3;
  }
}
@media all and (min-width: 1024px) {
  .card {
    //width: 57.13%;
  }
}
