@import 'core/reset';
@import 'core/variables';
@import 'layout/header';
@import 'layout/landing';
@import 'layout/footer';
/*@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'pages/index';
@import 'pages/profile-cards';
*/

//CAMBIAR A SU PARTIAL CORRESPODIENTE (son los colores de los cuadraditos de los radio inputs.
.dark-green {
  background-color: $color-dark-green;
  width: 30px;
  height: 25px;
}

.dirty-blue {
  background-color: $color-dirty-blue;
  width: 30px;
  height: 25px;
}

.hospital-green {
  background-color: $color-hospital-green;
  width: 30px;
  height: 25px;
}
//END colores radio inputs
